<h1>Perform action</h1>
<div>
    <form method="post">
        {% for action in actions %}
            <button type="submit" name="action" value="{{ action.key }}">{{ action.name }}</button>
        {% endfor %}
    </form>
    {% if action %}
        <div>
            You played: {{ action.name }}<br>
            Computer played: {{ counter.name }}<br>
            {% if winner %}
                You win
            {% elseif loser %}
                You lose
            {% else %}
                Tie
            {% endif %}
        </div>
    {% endif %}
</div>

<h2>Wins</h2>
    Player: {{ wins }}<br>
    Computer {{ losses }}<br>
</h2>

<h3>Player Choices</h3>
    {% for action in actions %}
        {{ action.name }}: {{ action.player_play_count }} <br>
    {% endfor %}
<h3>Computer Choices</h3>
    {% for action in actions %}
        {{ action.name }}: {{ action.computer_play_count }} <br>
    {% endfor %}


